#header{
        margin-left:80px;
}


#nav{background-image:url("2.jpg");
	height:400px;
	width:1200px;
	margin-left:80px;
	background-color:black;
	text-align:right;
       
}
 
#wrapper input[type=text]{
	padding-left:35px;
	font-size:20px;
}
ul#wrapper{padding:0;
	   margin-left:80px;

        }

ul#wrapper li a{
  text-decoration:none;
  color:white;
  background-color:#008b8b;
  padding:10px 20px;
  border-radius:6px 6px 0px 0px;
}

ul#wrapper li a:hover{background-color:orange;}

ul#wrapper li{
	font-size:25px;
	display:inline;
        font-family:georgia;
  }


#head{
  width:1198px;
  height:500px;
  margin-left:80px;
  border:1px solid grey;
  background-color:#f5f5ef;
}

#head h4{
  text-align:center;
  font-size:40px;
  color:#008b8b;
}

#head input[type=submit]{
	float:right;
	font-size:20px;
	color:white;
	background-color:#008b8b;
	margin-right:70px;
}

#table1{
  width:1200px;

}

#table1 td{
  width:200px;
  text-align:center;
  padding-bottom:10px;
  background-color:white;
  color:#cc5200
  }


#footer{
        width:1200px;
        margin-left:80px;
        border-left:thin solid grey;
        border-right:thin solid grey;
        border-bottom:thin solid grey;
        height:45px;
        font-size:23px;
        text-align:center;
        padding-top:20px;
        font-family:georgia;
	color:white;
        background-color:black;
}